<p id="notice"><%= notice %></p>

<h1>ID: <%=h reg_id(@patient.hp_id) %></h1>

<% if (count = @patient.audiograms.length) > 0 %>
  <% recent = @patient.audiograms.sort {|a,b| b.examdate <=> a.examdate} %>
  <% i = 0 %>
  <h2>Audiogram<%= "s" if count > 1 %> (<%= count %> exam<%= "s" if count > 1 %>)</h2>
  <table>
    <tr>
      <% recent.each do |a| %>
        <td id="recent<%= i %>"><%= a.examdate.strftime("%Y/%m/%d") %></td>
	<% i += 1 %>
      <% end %>
    </tr>
    <tr>
      <% recent.each do |a| %>
        <td><%= link_to(image_tag(a.image_location.sub("graphs", "thumbnails")),\
	        :action => "show", :id => a.id )%></td>
      <% end %>
    </tr>
    <tr>
      <% recent.each do |a| %>
        <td>R: <%= mean("4R", a)[:R] %><br>L: <%= mean("4R", a)[:L] %></td>
      <% end %>
    </tr>

  </table>
<% else %>
  <h2>No Audiogram</h2>
<% end %>
</h2>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
